@page
@model Sean1.Pages.Shared.AddSoloUser

@{
    <link rel="stylesheet" href="css/AddSoloUser.css"/>
    
    
    
    
    
    
    
    
    <div class="cont">
        
        <div class="active">
            <p class="text">Информация для пропуска</p>
        </div>
        
        <div class="form-wrap">
            <form>
              
                
                <div >
                    <h class="text">Срок действия заявки</h>
                </div>
                
                <label>С*</label> 
                <input name="DataFirst" type="date"/> 
                <label>по</label> 
                 <input name="DataLast" type="date"/> 
                
            </form>
            
        </div>
        
    </div>
    
    
  <div class="container">
    
    <div class="active">
      <p class="text">Информация о поситителе</p>
    </div>
    
    <div class="form-wrap">
      
      <form>
      
      <div>
        <label>Фамилия</label>
        <input name="Surname"/>
      </div>
        
      <div>
        <label>Имя</label>
        <input name="Name"/>
      </div>
 
      <div>
      <label>Отчество</label>
      <input name="Patronomyc"/>
    </div>
    
      <div>
      <label>Номер телефона</label>
    <input name="Nubmer"/>
     </div>
  
      <div>
      <label>E-mail</label>
    <input name="Email"/>
                     </div>
        
      </form>


        
        <div class="formatik">
            <form>

                <div>
                    <label>Организация</label>
                    <input name="Organization"/>
                </div>
         
                <div>
                    <label>Примечание</label>
                    <input name="Post"/>
                </div>
          
                <div>
                    <label>Дата рождения</label>
                    <input name="Birthday"/>
                </div>
           
                <div>
                    <label>Серия паспорта</label>
                    <input name="SeriaPass"/>
                </div>
            
                <div>
                    <label>Номер паспорта</label>
                    <input name="NumberPass"/>
                </div>


            </form>
            </div>

     
    </div>

  </div>
  }



