@page
@model Sean1.Pages.Autorization

@{
    <link href="css/Autorization.css" rel="stylesheet"/>
    <form >
        <div class="container">
            <h1>Авторизация</h1>
           
            <hr>

            <label >Email</label>
            <input type="text" placeholder="Введите почтовый адрес" name="Email" >

            <label >Пароль</label>
            <input type="password" placeholder="Введите праоль" name="Pasword" >

           
            <hr>

            
            <button type="submit" class="Autorization">Авторизоваться</button>
        </div>

       
    </form>
}

