@page
@model Sean1.Pages.RegistrationAndAutorization

@{
    
    <link href="css/RegAuto.css" rel="stylesheet"/>
    <form >
        <div class="container">
            <h1>Регистрация</h1>
           
            <hr>

            <label >Email</label>
            <input type="text" placeholder="Введите почтовый адрес" name="Email" >

            <label >Пароль</label>
            <input type="password" placeholder="Введите праоль" name="Pasword" >

            <label >Пароль</label>
            <input type="password" placeholder="Повторите пароль" name="Passwordrepeat" >
            <hr>

            
            <button type="submit" class="Registation">Зарегистрироваться</button>
             <button type="submit" class="Autorization">Авторизоваться</button>
        </div>

       
    </form>
}


