body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.containerInfoUser {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.ContInfoPropusk{
    width: 100%;
    max-width: 400px;
    margin-left: -0px;
   margin-bottom: 15px;
}

.ContainerInfoStorona
{
    float: right;
    max-width: 1300px;
    margin-top: -12%;
   
    
    
    
}

.form-wrap
{
    background-color: #bbbbbb
}
.Storona
{
    background-color: orange;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 700px;
}

.InfoDocument
{
  
    max-width: 600px;
    margin-top: 2%;
}

.active {
    background-color: orange;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

p.text
{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    
}

h.text{
    font-size: 15px;
    font-weight: bold;
    font-family: "Times New Roman";
}

.formatik
{
    float: right;
    margin-top: -10.5%;
    margin-right: 30%;
}

.ClickToSaveClear
{
    border: 3px solid orange;
    float: right;
    max-width: 1300px;
    margin-top: -2%;
}
